<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>O stránce</title>
</head>
<body>
<header>
    <h1 style="background-color:powderblue; color:blue";>O stránce</h1>
    <p2><a href="{{ url_for('home') }}" style="color:red;">Home</a></p2>
    <p2><a href="{{ url_for('about') }}" style="color:red;">O stránce</a></p2>
    <p2><a href="{{ url_for('time') }}" style="color:red;">Time</a></p2>
</header>


<br>
<br>
<br><h2 style="color:blue";>Ahoj - informace o této stránce!</h2>
<br>
<br>
<br><h3 style="color:black";>Najdeš zde aktuální světový čas.</h3>
<br><h3 style="color:black";>Je to stránka pro zkoušku.</h3>

</h3>
</body>

</html>