<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time page</title>
     <meta http-equiv="refresh" content="1">
</head>
<body>
<header>
    <h1 style="background-color:powderblue; color:blue";>Time Page</h1>
    <p2><a href="{{ url_for('home') }}" style="color:red;">Home</a></p2>
    <p2><a href="{{ url_for('about') }}" style="color:red;">O stránce</a></p2>
    <p2><a href="{{ url_for('time') }}" style="color:red;">Time</a></p2>
</header>

    <h2 style="color:grey;">Přesný čas Praha: {{data}}</h2>
    <h2 style="color:grey;">Přesný čas Londýn: {{data1}}</h2>
    <h2 style="color:grey;">Přesný čas Moskva: {{data2}}</h2>
    <h2 style="color:grey;">Přesný čas Tokyo: {{data3}}</h2>
    <h2 style="color:grey;">Přesný čas New York: {{data4}}</h2>
</body>
</html>