<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<header>
    <h1 style="background-color:powderblue; color:blue";>Home Page</h1>
    <br><p2><a href="" style="color:red;">Home</a></p2>
    <br><p2><a href="{{ url_for('about') }}" style="color:red;">About</a></p2>
    <br><p2><a href="{{ url_for('random') }}" style="color:red;">Random</a></p2>
    <br><p2><a href="https://www.w3schools.com/html/" style="color:red;">W3 schools HTML</a></p2>
</header>


<p style="color:grey;"> ??????? </p>

</body>
</html>